<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/new">
        <!-- Heading -->
        <h1>New Message</h1>
         <!-- author's name -->
        <label for="user">Name:</label>
        <input type="text" id="user" name="user">

        <!-- message text -->
        <label for="text">Text:</label>
        <textarea id="text" name="text" rows="5"></textarea>

        <button type="submit">Submit</button>
    </form>
</body>
</html>